
<!-- About Us -->
<section class="container mt-5 bg-white">
  <div class="container d-md-flex justify-content-between align-items-center">
    
    <div class="mb-4 mb-md-0">
      <h5 class="col">About US</h5>
      <h4 class="fw-bold">Real estate. Where businesses <br>
        thrive and communities grow.</h4>
      <button class="btn  mt-3">Learn more about us</button>
    </div>
    <img src="/assets/images/aboutimage.png" class="img-fluid" alt="About Us Image" style="max-width: 400px;">
  </div>
</section>