<!-- Quick Links -->

<div class="container mt-5">
  <div class="left">
    <h2>
      Find the Best Office<br />& Retail Spaces for Rent<br />in NYC & Brooklyn
    </h2>
  </div>

  <div class="right">
    <div class="menu" (mouseleave)="clearHover()">
      <ul class="main-menu">
        <li *ngFor="let use of uses" (mouseenter)="setActiveUse(use.name)">
          {{ use.name }}

          <!-- Location dropdown -->
          <ul class="submenu" *ngIf="use.locations && activeUse === use.name">
            <li
              *ngFor="let loc of use.locations"
              (mouseenter)="setActiveLocation(loc)"
            >
              {{ loc }}

              <!-- Neighborhoods -->
              <ul class="sub-submenu" *ngIf="activeLocation === loc">
                <li *ngFor="let hood of neighborhoods[loc]">{{ hood }}</li>
              </ul>
            </li>
          </ul>

          <!-- Specialty / For Sale options -->
          <ul class="submenu" *ngIf="use.subtypes && activeUse === use.name">
            <li *ngFor="let sub of use.subtypes">{{ sub }}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
