
<!-- Quick Links -->
<!-- <section class="container mt-5  office  py-5">
    <div class=" d-md-flex justify-content-between">
      <h2 class=" mb-3 m-lg-5 text-black text-blod mb-md-0">Find the Best Office <br>& Retail Spaces for Rent <br> in NYC & Brooklyn</h2>
      <ul class="">
        <li><a href="#" class="text-black ">Find Office Space for Rent in New York</a></li>
        <li><a href="#" class="text-black">Retail Spaces for Rent in New York</a></li>
        <li><a href="#" class="text-black">Flexible Coworking Spaces for Rent in NYC</a></li>
        <li><a href="#" class="text-black">Brooklyn Office Spaces Available for Rent</a></li>
        <li><a href="#" class="text-black">Find Office Space Buildings By Zip Code</a></li>
        <li><a href="#" class="text-black">Affordable Office Rentals in NYC</a></li>
      </ul>
    </div>
  </section> -->


  <div class="container mt-5">
    <div class="left ">
      <h2>Find the Best Office<br />& Retail Spaces for Rent<br />in NYC & Brooklyn</h2>
    </div>
    <div class="right">
      <ul>
        <!-- <li><a href="#">Find Office Space for Rent in New York</a></li>
        <li><a href="#">Retail Spaces for Rent in New York</a></li>
        <li><a href="#">Flexible Coworking Spaces for Rent in NYC</a></li>
        <li><a href="#">Brooklyn Office Spaces Available for Rent</a></li>
        <li><a href="#">Find Office Space Buildings By Zip Code</a></li>
        <li><a href="#">Affordable Office Rentals in NYC</a></li> -->
        <li class="dropdown">
          <a href="#">Find Office Space for Rent in New York</a>
          <div class="dropdown-content">
            <a href="#">Option 1</a>
            <a href="#">Option 2</a>
            <a href="#">Option 3</a>
          </div>
        </li> <br/>
        <li class="dropdown">
          <a href="#">Retail Spaces for Rent in New York</a>
          <div class="dropdown-content">
            <a href="#">Option 1</a>
            <a href="#">Option 2</a>
            <a href="#">Option 3</a>
          </div>
        </li> <br/>
        <li class="dropdown">
          <a href="#">Flexible Coworking Spaces for Rent in NYC</a>
          <div class="dropdown-content">
            <a href="#">Option 1</a>
            <a href="#">Option 2</a>
            <a href="#">Option 3</a>
          </div>
          
        </li><br/>
        <li class="dropdown">
          <a href="#">Brooklyn Office Spaces Available for Rent</a>
          <div class="dropdown-content">
            <a href="#">Option 1</a>
            <a href="#">Option 2</a>
            <a href="#">Option 3</a>
          </div>
        </li><br/>
        <li class="dropdown">
          <a href="#">Find Office Space Buildings By Zip Code</a>
          <div class="dropdown-content">
            <a href="#">Option 1</a>
            <a href="#">Option 2</a>
            <a href="#">Option 3</a>
          </div>
        </li><br/>
        <li class="dropdown">
          <a href="#">Affordable Office Rentals in NYC</a>
          <div class="dropdown-content">
            <a href="#">Option 1</a>
            <a href="#">Option 2</a>
            <a href="#">Option 3</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  