.office{
    background-color:rgb(82, 187, 187);
}

.container {
  display: flex;
  background-color: #1aa3a3;
  color: white;
  padding: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left {
  flex: 1 1 40%;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 50px;
  margin-left: 4rem;
}

.right {
  flex: 1 1 50%;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #ddd;
}


 .right {
  display: flex;
  flex-direction: column;
}




.menu {
  position: relative;
}

.main-menu {
  
  padding: 0;
  margin: 0;
  width: 30%;
}

.main-menu > li {
  /* cursor: pointer; */
  padding: 10px;
  color: white; /* Text color white */
  position: relative; /* Make the list item relative for submenu positioning */
}

/* Style for the submenu */
.submenu,
.sub-submenu {
  list-style-type: none;
  padding: 0;
  display: none; /* Initially hide submenus */
  position: absolute; /* Position submenu absolutely */
  top: 0; /* Align submenu to the top of the parent item */
  left: 100%; /* Position it to the right of the parent item */
  margin-right: 5px; /* Add a little space between the parent and the submenu */
}

.main-menu > li:hover > .submenu,
.submenu > li:hover > .sub-submenu {
  display: block; /* Show submenu when hovering over a parent item */
}

.submenu > li,
.sub-submenu > li {
  padding: 8px 20px;
  color: black; /* Text color white for submenu items */
}
