<!-- Footer -->
<footer class="teal mt-0  py-4">
    <div class="container d-md-flex justify-content-between">
      <div>
        <h6 class="fw-bold ">OPTIMAL SPACES</h6>
        <p>NYC commercial real estate brokerage <br>specializing in tenant representation.</p>
      </div>
      <div>
        <h6>Optimal Spaces</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Services we offer</a></li>
          <li><a href="#" class="text-white">Testimonials</a></li>
          <li><a href="#" class="text-white">Market Research</a></li>
        </ul>
      </div>
      <div>
        <p><i class="bi bi-telephone-fill"></i> (212)258-2700</p>
        <!-- <p><i class="bi bi-envelope-fill"></i> info@optimalspaces.com</p> -->
        <p><i class="bi bi-geo-alt-fill"></i> 112 West 34th Street, 17th Floor, NY 10120</p>
      </div>
    </div>
    <div class="text-center mt-3 small">&copy; 2025 Optimal Spaces. All Rights Reserved.</div>
  </footer>