.navbar-brand {
    font-size: 1.2rem;
  }
  
  .navbar-toggler:focus {
    box-shadow: none;
  }
  

  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
  }
  
  a:hover {
    color: #ddd;
  }
  
  /* Dropdown styles */
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    /* box-shadow: 0px 8px 16px rgba(0,0,0,0.2); */
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }


  .example-spacer {
    flex: 1 1 auto;
  }
  

  .menu-wrapper .submenu {
    display: none;
    position: absolute;
    top: 100%; /* directly under the menu icon */
    right: 0;
    min-width: 150px;
    z-index: 999;
    padding: 0.5rem 0;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .menu-wrapper:hover .submenu {
    display: block;
  }

  ::ng-deep .mat-menu-panel.custom-menu {
    min-width: 220px;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 8px;
  }
  
  ::ng-deep .mat-menu-item {
    font-size: 14px;
  }
  