
<!-- NYC Broker Info -->
<section class="container py-5 bg-white">
  <div class="container">
    <div class="row align-items-center">
      
      <!-- Text Column -->
      <div class="col-md-6 mb-6 mb-md-0">
        <h2 class="fw-bold mb-3">New York City Commercial <br> Real Estate Broker</h2>
        <p>Optimal Space Specializesin negotiating deals for tenanfs, ensuring savings of 15-20% compared tp what tenants could achieve on thier own of through a landlord broker. We recognize the critical importance of finding the ideal commercia; space in New York City, Particularly in Manhattan. Our services cover vaious types of spaces, including office, educational, industrial,retail,medical,and loft space, Here's how we assist our clients.</p>
      </div>
      
      <!-- Image Column with Right Margin -->
      <div class="col-md-6 text-center">
        <img src="/assets/images/bank.png" class="img-fluid  margin-end" alt="Satellite Map">
      </div>

    </div>
  </div>
</section>



  <!-- <div class="row">
    <div class="col-md-6">
      <img src="assets/map1.png" class="img-fluid" alt="NYC Borough Map">
    </div>
    <div class="col-md-6">
      <img src="assets/map2.png" class="img-fluid" alt="Satellite Map">
    </div>
  </div> -->